@keyframes fadeIn {
  from {
    right: 100vw;
  }
  to {
    right: 0;
  }
}

.container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  width: 100%;
}

.hr {
  width: 50%;
  border: 2px solid var(--red-dark);
  background-color: var(--red-dark);
  margin-bottom: 40px;
  border-radius: 10px;
}
