.container {
  display: flex;
  flex-direction: column;
  margin: 9px;
}

.label {
  font-size: 1.23rem;
  margin-bottom: 10px;
  align-self: start;
}

.input {
  height: 35px;
  width: 100%;
  border: 0;
  font-size: 1.35rem;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.area {
  border: 0;
  font-size: 1.25rem;

  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
