@keyframes fadeIn {
  from {
    left: 200px;
  }
  to {
    left: -20px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  left: -20px;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.noMargin {
  margin: 0;
}

.title {
  font-size: 2.4rem;
  margin: 0;
  letter-spacing: 0.4rem;
}

.mediumSize {
  font-size: 2rem;
}

.hr {
  margin: 0;
  padding: 0;
  width: 40%;
  height: 0;
  background-color: var(--decoration);
  border: 1.4px solid var(--decoration);
}
